
<div class="container-fluid" style="padding: 0px; width: 100%; background-color: lightblue;">
	<div class="row home_section" style="margin-top: 50px;">
		<div class="col-md-4 col-push-md-4 col-xs-4">
		</div>
		<div class="col-md-5 col-push-md-7 col-xs-8">
			<%= form_for @video do |f| -%>
				<%= f.hidden_field :section, value: @section %>
				<%= f.label :url %><br />
				<%= f.text_field :url, autofocus: true, :size => 75, class: "float_right" %><br />
				<%= f.label :name %><br />
				<%= f.text_field :name, :size => 75, class: "float_right" %><br />
				<%= f.label :key %><br />
				<%= f.text_field :key, :size => 75, class: "float_right" %><br />
				<%= f.label :description %><br />
				<%= f.text_field :description, :size => 75, class: "float_right" %><br />
				<%= f.submit "submit", class: "submit_button" %>
			<% end -%>
		</div>
		<div class="col-md-3 col-push-md-3 col-xs-3">
		</div>
	</div>
</div>