
<% type = instance_variable_get(("@" + name).intern) %>
	<% i = @i %>
	<div class="row home_section" style="height: 120px; overflow:hidden;">
		<div class="col-md-12 hidden-sm hidden-xs">
			<%= image_tag name + ".png", :size=> '1100x450' %>
		</div>
		<div class="hidden-xl hidden-lg hidden-md col-sm-12 hidden-xs">
			<%= image_tag name + ".png", :size=> '900x300' %>
		</div>
		<div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs-12">
			<%= image_tag name + ".png", :size=> '600x250' %>
		</div>
		
	</div>
	<div class="row home_section" style="min-height: 100px;">
		<div class="col-md-1 hidden-sm hidden-xs">
		</div>
		<div class="col-md-3 col-xs-11" id="top_left">
			<% if type[0] %>
				<%= works_imgs(name, type[0][:key]) %>
			<% end %>
		</div>
		<div class=" col-sm-2 hidden-md hidden-lg hidden-xl col-xs-2">
			<%= form_for @video, :url => content_left_arrow_path,:format => :js, method: :get, remote: :true do |f| -%>
				<%= f.hidden_field :name, value: name %>
				<%= button_tag( :class => "side_arrow left", :rel => 'follow') do %>
					<svg width='60px' height='80px' viewBox='0 0 50 80' xml:space='preserve'><polyline fill='none' stroke='black' stroke-width='6' stroke-linecap='round' stroke-linejoin='round' points='45.63,75.8 0.375,38.087 45.63,0.375 '/><polyline fill='none' stroke='#FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' points='45.63,75.8 0.375,38.087 45.63,0.375 '/></svg>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-4 col-xs-7 col-sm-7" id="top_middle" style="margin-left: 20px;">
			<% if type[1] %>
				<%= works_imgs(name, type[1][:key]) %>
			<% end %>
		</div>
		<div class=" col-sm-2 hidden-md hidden-lg hidden-xl col-xs-2">
			<%= form_for @video, :url => content_right_arrow_path,:format => :js, method: :get, remote: :true do |f| -%>
				<%= f.hidden_field :name, value: name %>
				<%= button_tag( :class => "side_arrow right", :rel => 'follow') do %>
					<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60px' height='80px' viewBox='0 0 50 80' xml:space='preserve'><polyline fill='none' stroke='black' stroke-width='6' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 45.63,38.087 0.375,75.8 '/><polyline fill='none' stroke='#FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 45.63,38.087 0.375,75.8 '/></svg>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-3 col-xs-12" id="top_right">
			<% if type[2] %>
				<%= works_imgs(name, type[2][:key]) %>
			<% end %>
		</div>
	</div>
	<div class="row home_section" style="height: 305px;">
		<div class="col-md-1 hidden-xs hidden-sm">
			<%= form_for @video, :url => content_left_arrow_path,:format => :js, method: :get, remote: :true, :rel => 'follow' do |f| -%>
				<%= f.hidden_field :name, value: name %>
				<%= button_tag( :class => "side_arrow left") do %>
					<svg width='60px' height='80px' viewBox='0 0 50 80' xml:space='preserve'><polyline fill='none' stroke='black' stroke-width='6' stroke-linecap='round' stroke-linejoin='round' points='45.63,75.8 0.375,38.087 45.63,0.375 '/><polyline fill='none' stroke='#FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' points='45.63,75.8 0.375,38.087 45.63,0.375 '/></svg>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-2  col-xs-7 col-sm-7" id="mid_left" style="margin-top: 100px;">
			<% if type[3] %>
				<%= works_imgs(name, type[3][:key]) %>
			<% end %>
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12 mid_mid you_tube_section" style="height: 305px;">
			<div id="page_page_mid">
			</div>
		</div>
		<div class="col-lg-3 col-md-3  col-xs-7 col-sm-7" id="mid_right" style="margin-top: 100px;">
			<% if type[4] %>
				<%= works_imgs(name, type[4][:key]) %>
			<% end %>
		</div>
		<div class="col-md-1 hidden-xs hidden-sm">
			<%= form_for @video, :url => content_right_arrow_path,:format => :js, method: :get, remote: :true, :rel => 'follow' do |f| -%>
				<%= f.hidden_field :name, value: name %>
				<%= button_tag( :class => "side_arrow right") do %>
					<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60px' height='80px' viewBox='0 0 50 80' xml:space='preserve'><polyline fill='none' stroke='black' stroke-width='6' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 45.63,38.087 0.375,75.8 '/><polyline fill='none' stroke='#FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' points='0.375,0.375 45.63,38.087 0.375,75.8 '/></svg>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row home_section" style="">
		<div class="col-md-1 hidden-sm hidden-xs">
		</div>
		<div class="col-md-3  col-xs-7 col-sm-7" id="bottom_left">
			<% if type[5] %>
				<%= works_imgs(name, type[5][:key]) %>
			<% end %>
		</div>
		<div class="col-md-4  col-xs-7 col-sm-7" id="bottom_mid" style="margin-left: 20px;">
			<% if type[6] %>
				<%= works_imgs(name, type[6][:key]) %>
			<% end %>
		</div>
		<div class="col-md-3  col-xs-7 col-sm-7" id="bottom_right">
			<% if type[7] %>
				<%= works_imgs(name, type[7][:key]) %>
			<% end %>
		</div>
	</div>