<%
meta title: "Contact Us",
     description: "Contact Audio Withdrawal",
     robots: "index",
     keywords: %w(Luke Wickman Audio Withdrawal composers composer compositions music video game film movie scoring sound engineers design misleading scores sample packs Utah Salt Lake City SLC Weird Phishes Wikr contanima album artist aw productions piano experimental electronic orchestral epic horror thematic cinematic booking rock genre adaptable beats chiptunes)
%>
<div class="container-fluid" style="background-color: white; height: 500px;">
	<div class="row basic_border green">
		<div class="col-md-12 col-sm-12 center white_text">
			<h5>Any questions please reach out</h5>
			<h5>audiowithdrawal@gmail.com</h5>
		</div>
	</div>
	<div class="row shading email_container" style="margin-top: 10px; margin-left: 50px;">

		<%= form_tag'/content/send_email', remote: true do |f| %>
			<%= hidden_field_tag :send_to_email, nil, class:"send_to_email" %><br />
			<%= text_area_tag :first_name, nil, size: "20x1", class: "customer_name", placeholder: "First Name" %>
			<%= text_area_tag :last_name, nil, size: "20x1", class: "customer_name", placeholder: "Last Name" %><br>
			<%= text_area_tag :your_email, nil, size: "45x1", class: "customer_email", placeholder: "Your Email" %><br>
			
			<%= text_area_tag :message, nil, size: "100x8", class: "customer_input", placeholder: "Enter message" %><hr>
			<%= submit_tag "Send", class: "submit_email" %>
		<% end %>
	</div>
</div>














